body {
    font-family: 'Segoe UI', Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #b3e0ff 0%, #f8ffd8 100%);
    margin: 0;
    padding: 0;
}

#game-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

canvas {
    background: #87ceeb;
    border: 3px solid #ad0000;
    border-radius: 10px;
    box-shadow: 0 0 20px #b94401;
}

h1 {
    color: #ad0000;
    margin-top: 30px;
}

#scoreText {
    font-size: 22px;
    color: #b94401;
    font-weight: bold;
}
#info {
    color: #666;
}
